@import url(http://fonts.googleapis.com/css?family=Zeyada&v1);
@import url(http://fonts.googleapis.com/css?family=Droid|Sans&v1);

body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0px auto;
  padding: 0;
  height: 100%;
  background-color: rgba(40, 0, 80, 0.1);
  font-size: 14px;
}

#container {
  background-color: #fff;
  min-height: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  padding: 0;
  position: relative;
  width: 800px;
}

a {
  text-decoration:none;
  color: #BB3333;
}

a:visited {
  color: #990033;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Zeyada;
  font-size: 400%;
  font-weight: 200;
  text-align: center;
  margin: 0 0 40px 0;
}

#bannertext {
  border-bottom: 1px solid black;
}

.logo {
  display: none;
  float: right;
  clear: right;
}

#pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  background-image: url('kashyap-venice.jpg');
  position: absolute;
  top: 50px;
  right: 0;
  margin: 20px;
}

#footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 11px;
}
